<h1>{{paintingDetail.title}}</h1>
<br>
<br> <img src="{{paintingDetail.image_url}}" alt="No Image">
<br>
<br> {{paintingDetail.description}}
<br>
<p>
  <a href="/">Back</a>
</p>
<a href="/gallery/{{ id }}/edit">Edit</a>
<p>
  <form method='post' action="/gallery/{{ id }}?_method=DELETE">
    <button type='submit'>Delete</button>
</p>

</form>