<h1>_Detail</h1>
<br>
<br> <img src="{{paintingDetail.link}}" alt="No Image">
<br>
<p>{{paintingDetail.author}}</p>
<br> {{paintingDetail.description}}
<br>
<br>

<form method='post' action="/gallery/{{gallery_id}}?_method=DELETE">
  <button type='submit'>Delete</button>
</form>




<a href="/gallery/{{ id }}/edit">Edit</a>