<h1 class="title"><a href="/">_ARCHITEKT</a></h1>
<br>
{{#galleryItem}}
<h2>{{title}}</h2>
<br>
<br> <img src="{{image_url}}" alt="No Image">
<br>
<br> {{description}}
<br>
<p>
</p>
<a href="/gallery/{{ id }}/edit">Edit</a>
<p>
  <form action="/gallery/{{ id }}?_method=DELETE" method="post">
    <input type="submit" value="DELETE"></form>
</p>
  <div><a href="/auth/logout">Logout</a></div>

<a href="/">Back To Gallery</a>
{{/galleryItem}}